body {
  background-color: white;
  color: black;
  font-family: "acuta","Bell MT","BellMT","Georgia",sans-serif;
}

tr td {
    padding-bottom: 30px;
}

.layout-user {
  background-color: black;
  color: white;
}

.participant {
  text-align: center;
}

.price {
  text-align: center;
}

.datetime {
  font-size: 0.75rem;
  padding: 5px;
}

.event {
  padding-bottom: 12px;
}